.form-container {
    background-color: #242424;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    max-width: 500px;
    align-items: center;
    color: white;
}
label {
    align-self: flex-start; /* flex-start for left alignment */
}
.form-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-button {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    
    background: radial-gradient(circle, rgba(38,59,207,1) 56%, rgba(0,128,221,1) 100%);
    color: white;
    font-weight: bold;
   
    border-radius: 4px;
    border-color: #333acb;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.form-button:hover {
    background: radial-gradient(circle, rgba(0,128,221,1) 56%, rgba(38,59,207,1) 100%);
    border-color: #646cff;
}
